nav{
  background-color: black;
}

a{
  color: white;
  font-size: 0.8em;
  text-decoration: none;
  padding-right: 30px;
}

body{
  margin:0 ;
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 6px 16px ;
}
.active{
  color: orangered;
}
.lista{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
}
.destino{
  width: 31%;
  border: 1px solid gray;
  padding: 8px 12px 10px;
  box-sizing: border-box;
  margin-top: 5px;
  border-radius: 5px;

}
img{
  width: 100%;
  vertical-align: top;
}
.nombre{
  font-size:0.92em ;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.situacion{
  margin: 5px 0 10px;
  font-size:0.74em ;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  
}
.destino a{ 
  background-color: green;
  color: white;
  text-align: center;
  padding: 2px 12px 4px;
  border-radius: 3px;
  margin-top: 5px;
  display: inline-block;
}
.imagenGrande{
  width: 500px;
  margin: auto;
}